body {
  background-color: tomato;
  text-align: center;
  color: white;
}

.momentum-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.js-clock {
  line-height: 1;
}

h1 {
  font-size: 114px;
}

h2 {
  font-size: 26px;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.textInput {
  width: 50%;
  height: 30px;
  font-size: 20px;
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.textInput::placeholder {
  color: white;
  font-size: 20px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.js-toDoList {
  width: 100%;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
  font-size: 15px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
